<template>
  <v-container>
    <v-row>
      <v-col>
        <editor v-model="content"/>
      </v-col>
      <v-col>
        <markdown-it-vue class="md-body" :content="content" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import MarkdownItVue from 'markdown-it-vue'
import 'tui-editor/dist/tui-editor.css';
import 'tui-editor/dist/tui-editor-contents.css';
import 'codemirror/lib/codemirror.css';
import { Editor } from '@toast-ui/vue-editor'

export default {
  components: {
    MarkdownItVue,
    Editor
  },
  name: 'MarkedownIt',
  data: () => ({
    content: '$a_a$',
  })
};
</script>
