<template>
  <v-container>
    <v-row>
      <v-col>
        <editor v-model="content"/>
      </v-col>
      <v-col>
        <viewer :value="content"/>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import 'tui-editor/dist/tui-editor.css';
import 'tui-editor/dist/tui-editor-contents.css';
import 'codemirror/lib/codemirror.css';
require('tui-editor/dist/tui-editor-contents.css');
require('highlight.js/styles/github.css');
import { Viewer } from '@toast-ui/vue-editor'
import { Editor } from '@toast-ui/vue-editor'

export default {
  components: {
    Editor,
    'viewer': Viewer
  },
  name: 'MarkedownIt',
  data: () => ({
    content: '$a_a$',
  })
};
</script>
