<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn target="_blank" text @click="markdownit=true,toasteditor=false,combined=true">
        <span class="mr-2">Markdown It</span>
      </v-btn>
      <v-btn target="_blank" text @click="markdownit=false,toasteditor=true,combined=true">
        <span class="mr-2">Toast Editor</span>
      </v-btn>
      <v-btn target="_blank" text @click="markdownit=false,toasteditor=false,combined=true">
        <span class="mr-2">Combined</span>
      </v-btn>
    </v-app-bar>

    <v-content>
      <MarkdownIt v-if="markdownit"/>
      <ToastEditor v-else-if="toasteditor"/>
      <Combined v-else/>
    </v-content>
  </v-app>
</template>

<script>
import MarkdownIt from './components/MarkdownIt';
import ToastEditor from './components/ToastEditor';
import Combined from './components/Combined';

export default {
  name: 'App',

  components: {
    MarkdownIt,
    ToastEditor,
    Combined
  },

  data: () => ({
    markdownit: true,
    toasteditor: false,
    combined: false
  }),
};
</script>
